input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body {
	background-color: rgb(0,0,0);
  text-align:center;
}

h1 {
  color: rgb(242,242,242);
  text-shadow:0px 0px 1px rgba(255,255,255,0.7);
  font-weight:normal;
  letter-spacing:1pt;
  word-spacing:2pt;
  font-family:trebuchet MS, sans-serif;
}

h2 {
  color: rgb(180,180,180);
  text-shadow:0px 0px 1px rgba(255,255,255,0.7);
  font-weight:normal;
  letter-spacing:1pt;
  word-spacing:2pt;
  font-family:trebuchet MS, sans-serif;
}

h3 {
  color: rgb(160,160,160);
	text-shadow:0px 0px 1px rgba(255,255,255,0.7);
	font-weight:normal;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-family:trebuchet MS, sans-serif;
}

h4 {
  color: rgb(200,200,200);
	text-shadow:0px 0px 1px rgba(255,255,255,0.7);
	font-weight:normal;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-family:trebuchet MS, sans-serif;
}

.answer {
  color: rgb(200,200,200);
	text-shadow:0px 0px 1px rgba(255,255,255,0.7);
	font-weight:normal;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-family:trebuchet MS, sans-serif;
}

label {
	color: rgb(200,200,200);
	text-shadow:0px 0px 1px rgba(255,255,255,0.7);
	font-weight:normal;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-family:trebuchet MS, sans-serif;
}

button {
  background: #d9b034;
  background-image: -webkit-linear-gradient(top, #d9b034, #a7c3d4);
  background-image: -moz-linear-gradient(top, #d9b034, #a7c3d4);
  background-image: -ms-linear-gradient(top, #d9b034, #a7c3d4);
  background-image: -o-linear-gradient(top, #d9b034, #a7c3d4);
  background-image: linear-gradient(to bottom, #d9b034, #a7c3d4);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: rgb(10,50,40);
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #fc3caf;
  background-image: -webkit-linear-gradient(top, #fc3caf, #d98934);
  background-image: -moz-linear-gradient(top, #fc3caf, #d98934);
  background-image: -ms-linear-gradient(top, #fc3caf, #d98934);
  background-image: -o-linear-gradient(top, #fc3caf, #d98934);
  background-image: linear-gradient(to bottom, #fc3caf, #d98934);
  text-decoration: none;
}

